<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!-- Define PrintRequestServlet -->
    <servlet>
        <servlet-name>PrintRequestServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.PrintRequestServlet</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>            
            <max-request-size>418018841</max-request-size>           
            <file-size-threshold>1048576</file-size-threshold>           
        </multipart-config>
    </servlet>

    <!-- Map PrintRequestServlet to /printRequest -->
    <servlet-mapping>
        <servlet-name>PrintRequestServlet</servlet-name>
        <url-pattern>/printRequest</url-pattern>
    </servlet-mapping>

    <!-- Define LoginServlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.LoginServlet</servlet-class>
    </servlet>

    <!-- Map LoginServlet to /LoginServlet -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- Define LoginServlet -->
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.EditUserServlet</servlet-class>
    </servlet>

    <!-- Map LoginServlet to /LoginServlet -->
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>

    <!-- Define AdminDashboardServlet -->
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AdminDashboardServlet</servlet-class>
    </servlet>

    <!-- Map LoginServlet to /AdminDashboardServlet -->
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>

    <!-- Define UpdateStatusServlet -->
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.UpdateStatusServlet</servlet-class>
    </servlet>

    <!-- Map PrintRequestServlet to /printRequest -->
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>

    <!-- Define AddUserServlet -->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AddUserServlet</servlet-class>
    </servlet>

    <!-- Map AddUserServlet to /AddUserServlet -->
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMatiersServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.GetMatiersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMatiersServlet</servlet-name>
        <url-pattern>/getMatiers</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>AgentDashboardServlet</display-name>
        <servlet-name>AgentDashboardServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AgentDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentDashboardServlet</servlet-name>
        <url-pattern>/agentDashboard</url-pattern>
    </servlet-mapping>

      <!-- Define MatierManagementServlet -->
    <servlet>
        <servlet-name>MatierManagementServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.MatierManagementServlet</servlet-class>
    </servlet>

    <!-- Map MatierManagementServlet to /MatierManagementServlet -->
    <servlet-mapping>
        <servlet-name>MatierManagementServlet</servlet-name>
        <url-pattern>/MatierManagementServlet</url-pattern>
    </servlet-mapping>


      <!-- Define AddMatierServlet  -->
    <servlet>
        <servlet-name>AddMatierServlet </servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AddMatierServlet</servlet-class>
    </servlet>

    <!-- Map MatierManagementServlet to /MatierManagementServlet -->
    <servlet-mapping>
        <servlet-name>AddMatierServlet</servlet-name>
        <url-pattern>/AddMatierServlet</url-pattern>
    </servlet-mapping>



      <!-- Define EditMatierServlet -->
    <servlet>
        <servlet-name>EditMatierServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.EditMatierServlet</servlet-class>
    </servlet>

    <!-- Map EditMatierServlet to /EditMatierServlet -->
    <servlet-mapping>
        <servlet-name>EditMatierServlet</servlet-name>
        <url-pattern>/EditMatierServlet</url-pattern>
    </servlet-mapping>


      <!-- Define GroupeManagementServlet -->
    <servlet>
        <servlet-name>GroupeManagementServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.GroupeManagementServlet</servlet-class>
    </servlet>

    <!-- Map GroupeManagementServlet to /GroupeManagementServlet -->
    <servlet-mapping>
        <servlet-name>GroupeManagementServlet</servlet-name>
        <url-pattern>/GroupeManagementServlet</url-pattern>
    </servlet-mapping>


      <!-- Define AddGroupeServlet  -->
    <servlet>
        <servlet-name>AddGroupeServlet </servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AddGroupeServlet</servlet-class>
    </servlet>

    <!-- Map GroupeManagementServlet to /GroupeManagementServlet -->
    <servlet-mapping>
        <servlet-name>AddGroupeServlet</servlet-name>
        <url-pattern>/AddGroupeServlet</url-pattern>
    </servlet-mapping>



      <!-- Define EditGroupeServlet -->
    <servlet>
        <servlet-name>EditGroupeServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.EditGroupeServlet</servlet-class>
    </servlet>

    <!-- Map EditGroupeServlet to /EditGroupeServlet -->
    <servlet-mapping>
        <servlet-name>EditGroupeServlet</servlet-name>
        <url-pattern>/EditGroupeServlet</url-pattern>
    </servlet-mapping>


      <!-- Define MatierGroupeManagementServlet -->
    <servlet>
        <servlet-name>MatierGroupeManagementServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.MatierGroupeManagementServlet</servlet-class>
    </servlet>

    <!-- Map MatierGroupeManagementServlet to /MatierGroupeManagementServlet -->
    <servlet-mapping>
        <servlet-name>MatierGroupeManagementServlet</servlet-name>
        <url-pattern>/MatierGroupeManagementServlet</url-pattern>
    </servlet-mapping>


      <!-- Define AddMatierGroupeServlet  -->
    <servlet>
        <servlet-name>AddMatierGroupeServlet </servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AddMatierGroupeServlet</servlet-class>
    </servlet>

    <!-- Map MatierGroupeManagementServlet to /MatierGroupeManagementServlet -->
    <servlet-mapping>
        <servlet-name>AddMatierGroupeServlet</servlet-name>
        <url-pattern>/AddMatierGroupeServlet</url-pattern>
    </servlet-mapping>



      <!-- Define EditMatierGroupeServlet -->
    <servlet>
        <servlet-name>EditMatierGroupeServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.EditMatierGroupeServlet</servlet-class>
    </servlet>

    <!-- Map EditMatierGroupeServlet to /EditMatierGroupeServlet -->
    <servlet-mapping>
        <servlet-name>EditMatierGroupeServlet</servlet-name>
        <url-pattern>/EditMatierGroupeServlet</url-pattern>
    </servlet-mapping>


      <!-- Define LogoutServlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.LogoutServlet</servlet-class>
    </servlet>

    <!-- Map LogoutServlet to /LogoutServlet -->
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>


      <!-- Define DeleteCourseServlet -->
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.DeleteCourseServlet</servlet-class>
    </servlet>

    <!-- Map DeleteCourseServlet to /DeleteCourseServlet -->
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>

  <!-- Define DeleteGroupServlet -->
    <servlet>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.DeleteGroupServlet</servlet-class>
    </servlet>

    <!-- Map DeleteGroupServlet to /DeleteGroupServlet -->
    <servlet-mapping>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <url-pattern>/DeleteGroupServlet</url-pattern>
    </servlet-mapping>

  <!-- Define DeleteMatierGroupeServlet -->
    <servlet>
        <servlet-name>DeleteMatierGroupeServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.DeleteMatierGroupeServlet</servlet-class>
    </servlet>

    <!-- Map DeleteMatierGroupeServlet to /DeleteMatierGroupeServlet -->
    <servlet-mapping>
        <servlet-name>DeleteMatierGroupeServlet</servlet-name>
        <url-pattern>/DeleteMatierGroupeServlet</url-pattern>
    </servlet-mapping>
    
      <!-- Define DeleteUserServlet -->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.DeleteUserServlet</servlet-class>
    </servlet>

    <!-- Map DeleteUserServlet to /DeleteUserServlet -->
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>

</web-app>
