<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.example.jee.printing.platform.controller.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

    <!-- Define PrintRequestServlet -->
    <servlet>
        <servlet-name>PrintRequestServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.PrintRequestServlet</servlet-class>
    </servlet>

    <!-- Map PrintRequestServlet to /printRequest -->
    <servlet-mapping>
        <servlet-name>PrintRequestServlet</servlet-name>
        <url-pattern>/printRequest</url-pattern>
    </servlet-mapping>

    <!-- Define LoginServlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.LoginServlet</servlet-class>
    </servlet>

    <!-- Map LoginServlet to /LoginServlet -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

        <!-- Define LoginServlet -->
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.EditUserServlet</servlet-class>
    </servlet>

    <!-- Map LoginServlet to /LoginServlet -->
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>

      <!-- Define AdminDashboardServlet -->
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.example.jee.printing.platform.controller.AdminDashboardServlet</servlet-class>
    </servlet>

    <!-- Map LoginServlet to /AdminDashboardServlet -->
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>

</web-app>
